.ui {
    color: #002E3B;
    font-family: "Ubuntu", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
.ui h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ui .content__grp {
    display: flex;
}
.ui .content__grp .content__left p{
    color: black;
    max-width: 600px;
    text-align: justify;
    line-height: 23px !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ui .content__grp .content__right {
 margin-left: 20px;
}
.ui .content__grp .content__right p{
   
    color: black;
    max-width: 600px;
    text-align: justify;
    line-height: 23px !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}