p {
    color: white;
}
.ui__left {
    display: flex;
}
.ui__left button {
    border: none;
    height: 30px;
    width: 300px;
    background-color: bisque;
}
h1{
    color: #000;
}
p{
    color: #000;
}
.printBtn {
margin-left: 45%;
border: none;
width: 150px;
background-color: bisque;
}